[Desktop Entry]
Name=Joytan
Comment=Create audio/textbook for a stress-free study
GenericName=Language App
Exec=joytan
TryExec=joytan
Icon=joytan
Categories=Education;Languages;Qt;
Terminal=false
Type=Application
Version=0.2.0
MimeType=application/x-joytan;