<title>{% block title %}{% endblock %}</title>
<ui>
    {% for ew in entries %}
    <font size="5" color="red">{{ ew['atop'] }}</font><br>
    <font size="4"><b>{{ ew['def-1'] }}</b></font><br>
    <font size="4">"{{ ew['ex-1-1'] }}"</font><br>
    <img src="{{ ew['img-1'] }}" width="180" height="120" />
    <img src="{{ ew['img-2'] }}" width="180" height="120" />
    <img src="{{ ew['img-3'] }}" width="180" height="120" />
    <img src="{{ ew['img-4'] }}" width="180" height="120" />
    <br><br>
    {% endfor %}
</ui>